/* body{
    background: url(../../travel-guru-master/Image/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 10% 70%;
    height: 100vh;
  
} */
.simple-design{
    margin-top: 100px;
    overflow: hidden;
}
.font-size{
    font-size: 60px;
}
   

